<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <section class="footer">
        <div class="footer-content">  
            <li><a href="#">About</a></li>
            <li><a href="#">Contact Us</a></li>
            <li><a href="#">Terms of Use</a></li>
            <p>Copy Rights 2023</p>
            <div class="footer-icons">
                <a href="#"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAbpJREFUSEu11U+IjlEUx/HPlELGQjZCmo3FFMmSlCyEpCGzENlQyEImJQv5kyzUCAtmahY2ykLUTP6syELWlv6WCBsLiymK0Kn76un2PPd5X8zd3XvO+X3vufeec/vM8OibYX1tgNnYic1YhQH8wls8wwPcwfemjZYAW3AtiZYSfY1DeFjn1AQ4g9M9HN9PHMfFPKYOcBanehCvuh7FlepCDtiGqYL4ZxzDY7xLfqNpLaaRyXo86WhUAf14hUUNgB9YgReZvQoIU9hXdi6+CoiLGivs/iZ2V+wbsRabsCaL247JWKsC7mJrAXAS55N9GLcKvhM4kAM+YHEhaASXkz0u81LBN2pkdQ74ijn/CfAFC3LANOZlgE8tWYX7I2zI4kJrfg54ieWZ40csaamJ91ia+TzHYA64gT09ZhC96lvNBq5jXw7YhXiKTaOXS659prPwBssaCN0C/hxPnkHMo4Pe/wdAtPJ1eNrRqGt20ayO1EC6yeBc3ijrALE23qnECqgNcAEn8o2VPpy9qVoXpqAmQHSAg7hXd7RtX+Zc7MeO9DVeTSKHMYTbiCf5V19mS311Z27LoDuVgtdvdh5WGZl8sDgAAAAASUVORK5CYII="/></a>
                <a href="#"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAYpJREFUSEvd1bFLVmEUx/HPa0GC0VRDoJhBRFAR4aSjERSBKSFF0JCDSHtRFP4BujgoLRGBS4uDIDS4iLiEgVFDk1EQBeEkQZqgHLgvXG73Xu/7wrv4bPc5z/l9n3Oec86tafGqtVjf4QN04M8BaTuBCdxCD/5hBs9wGoPJ917opFN0BJ8xgk8lkCUM5Ni/owv38LZuTwPO4Ct+YwirOSJX8aEEvoZlzGE9G0E7tnA0EXiFF/iZEryfOBcxIr2P8CYvgtiLW/dlvFewgPe4gumSCF7jYdqeTtFxnMc7nGyyPybxuAjQiW/YxKkmAZGe2SJAGzbQ3aR4uF3AlyJA7A8nJVZ/6EZYUYFnsw55oyL64DkuNaKOcbysAriJxQbFo8nOYacKIM5EHT+oCNlFf1LG/7kUTdN48It4irsloJg3o4j6z115gBh4vXiCGyXifxGdPV8WaRpwDVO4nBmCef7RjGOI3JeubAQxiu/gNq7jGLbxCz8QkzRu/PEg4br98P3RqkZe+VzLU7QP6ls9Gf+7N38AAAAASUVORK5CYII="/></a>
                <a href="#"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAhZJREFUSEvF1UvIT1sYBvDfhyLCRGfkVigkOSeShAFSSnLJ3cQEZ6DIpchAiVxCRgYMJLdco5SYSUkk5XY60emUCSMycu/R+tdu9999X+rrW/Xvv/e73vU+z/s8a63doZtHRzfX12MAo7AFMzCBRiI/8Az3cAz/1hVp18EGHEcf/I8HeNUg5V+YhGH4gr9xsppbB5hcCr7AIrzuokfp8gaGYwqetNbVAa5iPsbivy4UX4s9+IB1eITrWNIEkKJhH5Dq6IW5GI9veIm7JXa7SDmiAAzByCaAjziLjZXq0fciptVAY+wpvMMfOI0oMA8DmgC+4zC2l4Qwv18YbcUd9C7MD5ZdMxPZTRkhsrTk/ArUPUjifuwsC5aVRfm/VOtgOS5gYTE40+eReIg1AoTZjjKf520YiE81gGj9Hnuxu8xF3lVV4u06yIHZXBYcKHINRvypjhbAPuwqE2ewpjOAo+UUZ0222+Wi65UaQJiGcVWivK/ozINqBy2TswUjVUzOCZ+DQ/gHs2omB7BfkwfROSzWV9gOLWZOb7NNV+JtJZ5tOhuRtK3Juazya3fQwmwBPuMWblaYt+o9xiCMaQII+8UY18WrotrURDzFOaxuAvgTYZHEGPymJkvTa4pfQ7yaWmq0lSjB1nUdgx8WSRL/iufoi9HF7MT7I7dw5jfhRJVF0xftdz44R9pd7z32yeyi9J2ndXsHPwHCfnMZO3GOhQAAAABJRU5ErkJggg=="/></i></a>
                <a href="#"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAUVJREFUSEvt1b8rR1EYx/GXHwP5kVBSZKBkMLAYbRZl8A8YlAH/hFgtyqTkX/Av2FDE4sdgkAwoiUHJj07dW9fJ955vYVCe7d7zPJ/3Oc/nOffW+OWo+WV9/4Bkh+MWdWMZA+hBf1KBd5zgFmdYwnVeVwQMYh8tVYiWpTxgFBchqQjYwsw3xfPyTczGgAOM/BBgD2Mx4A4dFQChz5NYy/xJ7eMSfTHgFbUVKt9Qh3osZoPQXEK5R3sR0ISnkoJwgiK8EyuYi3zMJR7RWgSEnb2UAMLpQk4eKcAzGuMWhV1WihwQIPPZrLeV5N+gKwaEFoVWfRUBMI3VKk0+xVAMCM73psajyvUdjMeAbUxVKZBK28gG4NNNHsZubk5KIbEePhWH8QnCc7jJC7jKBCaydw1fCAbPjqPpO8c6jvL8/x9O0qq/36IPaFYyGVscNCUAAAAASUVORK5CYII="/></a>
            </div>
            <div class="footer-content">
                <h4>Projects</h4>
                <li><a href="#">Pocket-Booth</a></li>
                <li><a href="#">Chatbot</a></li>
                <li><a href="#">Eco-Green</a></li>
            </div>
        <div class="footer-content">
            <h4>Company</h4>
            <li><a href="#">How we work</a> </li>
            <li><a href="#">How to get in touch</a> </li>
            <li><a href="#">Suppot us</a> </li>
            <li><a href="#">FAQ</a> </li>
        </div>

        </div>
    </section>
    
</body>
</html>