*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif; 
}

body{
    background-color: grey;
    height: 100%;
    width: 100%;
}
section{
    padding: 80px 13% 70px;
}

.footer{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    gap: 3.5rem;
    background: rgb(241, 118, 118);
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
}

/* .footer-content {
    padding: 20px;
    text-align: center;
    background-color: rgb(176, 116, 116); /* Adjust background color as needed */
    /* border-radius: 5px; Add rounded corners for content boxes */
    /* }*/ 

.footer-content h4{
    color: rgb(250, 248, 248);
    margin-bottom: 1.5rem;
    font-size: 20px;
}

.footer-content li{
    margin-bottom: 16px;
}

.footer-content li a{
    display: block;
    color: ;
    font-size: 15px;
    font-weight: 400;
    transition: all .40s ease;
}

.footer-content li a:hover{
    transform: translate(-3px) translate(-5px);
    color: ;
}

.footer-icons a{
    display: inline-block;
    font-size: 22px;
    color: white;
    margin-right: 17px;
    transition: all .40s ease;
}
.footer-icons a:hover{
    transform: translateY(-5px);
}

@media (max-width:1690px){
    section{
        padding: 50px 5% 40px;
    }
}
  
  /* .footer-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }   */
  